.ToDoList {
  position: relative;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--back-blur-color);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 5px lightgray, inset 0 0 5px lightgray;
  transition: 300ms;

  #remove-to-do {
    position: absolute;
    top: 20px;
    right: 20px;

    border-radius: 10px;
    padding: 3px;
    height: 30px;
    width: 30px;
    border: 0;
    box-shadow: 0 0 5px lightgray, inset 0 0 5px lightgray;

    &:hover {
      background-color: tomato;
    }
  }

  .todoListName {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 4px 5px;
    border: none;
    border-radius: 5px;
    width: fit-content;

    &:is(:hover, :focus) {
      box-shadow: 0 0 5px lightgray, inset 0 0 5px lightgray;
    }
  }

  .AddItemForm {
    margin-bottom: 10px;
    padding: 0;
  }

  &__list {
    margin-bottom: 10px;

    .taskItem {
      list-style: none;
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      padding: 5px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 7px;

      &._isDone {
        opacity: 0.5;
      }

      &:hover {
        background-color: var(--primary-color);
        color: white;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      input[type='checkbox'] {
        flex: 0 1 8%;
        margin-left: 5px;
        cursor: pointer;
        align-self: center;
        padding: 0;
        transform: scale(1.5);
      }

      .taskTitle {
        cursor: text;
        flex: 1 0 auto;
        text-align: center;
        border-radius: 5px;
        border: none;

        &:is(:hover, :focus) {
          box-shadow: 0 0 5px lightgray, inset 0 0 5px lightgray;
        }
      }

      #delete-btn {
        flex: 0 1 13%;

        border: 2px solid tomato;
        border-radius: 5px;

        &:hover {
          background-color: tomato;
        }
      }
    }
  }
}

.taskItem-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.taskItem-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 200ms ease-in;
}

.taskItem-exit {
  opacity: 1;
}

.taskItem-exit-active {
  opacity: 0;
  transform: scale(0);
  transition: all 120ms ease-in;
}

.buttons-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  button {
    flex: 0 1 33%;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
  }
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

#noTasks {
  text-align: center;
}