@import './color-variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  padding: 5px 10px;
  border: 2px solid $primary-color;
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
}

button {
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: white;
    transition: 300ms;
    transform: scale(1.05);
  }

  &:active {
    transition: 100ms;
    transform: scale(0.9);
  }

  &._active {
    background-color: $primary-color;
    color: white;
    font-weight: bold;
  }
}

.App {
  padding: 50px;
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  gap: 10px;

  div {
    margin-right: 50px;
  }
}

#theme-button {
  position: fixed;
  left: 10px;
  top: 10px;
  // width: 100px;
  // height: 20px;
}
