// $primary-color: royalblue;
// $text-color: white;
// $back-color: #fff;
// $back-blur-color: rgba(0, 0, 0, 0.5);

:root {
  --primary-color: teal;
  --text-color: black;
  --back-color: #1e1e1e;
  --back-blur-color: rgba(255, 255, 255, 0.5);
}
