// $primary-color: royalblue;
// $text-color: white;
// $back-color: #fff;
// $back-blur-color: rgba(0, 0, 0, 0.5);

:root {
  --primary-color: royalblue;
  --text-color: white;
  --back-color: #fff;
  --back-blur-color: rgba(0, 0, 0, 0.5);
}
