.input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 17px;

  input {
    flex: 1 0 auto;
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;

    &:is(:hover, :focus) {
      border-color: tomato;
    }
  }

  button {
    flex: 0 1 10%;
    font-size: 24px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
  }
}